@{
    ViewData["Title"] = "MyClassroom - Главная страница";
    var username = Context.Session.GetString("Username");
    var avatar = Context.Session.GetString("Avatar");
    var login = Context.Session.GetString("Login");
}
@model IEnumerable<CourseCardModel> 


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/style_for_main_page.css" rel="stylesheet"/>
    <link href="~/css/course_card.css" rel="stylesheet"/>

    <title>Учебная платформа</title>
</head>
<body>

    <div class="header">
        <div class="burger" onclick="toggleSidebar()">☰</div>
        <div class="user-section">
            @if (!string.IsNullOrEmpty(username))
            {
                <img src="@(string.IsNullOrEmpty(avatar) ? Url.Content("~/images/default_avatar.jpg") : avatar)" alt="avatar" id="headerAvatar" class="user-avatar" onclick="chooseAvatar()">
                <div class="auth-buttons">
                    <form method="post" asp-controller="Authorization" asp-action="Logout">
                        <button type="submit">Выйти из аккаунта</button>
                   </form>
                </div>
            }
            else{
                <img src="~/images/default_avatar.jpg" alt="avatar" id="headerAvatar" class="user-avatar">
                <div class="auth-buttons">
                    <button onclick="location.href='@Url.Action("Index", "Authorization")'">Войти</button>
                    <button onclick="location.href='@Url.Action("Index", "Register")'">Зарегистрироваться</button>
                </div>
            }
                </div>
    </div>

 
    <div class="sidebar" id="sidebar">
        <div class="avatar">
                <img src="@(string.IsNullOrEmpty(avatar) ? Url.Content("~/images/default_avatar.jpg") : avatar)" alt="avatar" id="sidebarAvatar">
                <span>@(string.IsNullOrEmpty(username) ? "Гость" : username) </span>
        </div>
        <nav>
            <ul>
                <li>Главная</li>
                <li>Мои курсы</li>
                <li>Тесты</li>
                <li>Задания</li>
                <li>Форум</li>
                <li>Настройки</li>
            </ul>
        </nav>
    </div>

    <div class="main-content" id="mainContent">
        <h1>Рекомендованные курсы</h1>
        <div class="recommendations">
            @foreach (var course in Model)
            {
                @await Html.PartialAsync("_CourseCard", course)
            }
        </div>
    </div>

    <div class="footer">
        &copy; 2026 Учебная платформа
    </div>

    <input type="file" id="avatarInput" accept="image/*" style="display:none">
    <script src="~/js/script_for_main_page.js"></script>

</body>
</html>
