@{
    var username = Context.Session.GetString("Username");
    var avatar = Context.Session.GetString("Avatar");
    var login = Context.Session.GetString("Login");
    var role = Context.Session.GetString("Role");
}

<link href="~/css/sidebar.css" rel="stylesheet" />
<div class="sidebar" id="sidebar">
    <div class="avatar">
        <img src="@(string.IsNullOrEmpty(avatar) ? Url.Content("~/images/default_avatar.jpg") : avatar)" alt="avatar" id="sidebarAvatar">
        <span>@(string.IsNullOrEmpty(username) ? "Гость" : username) </span>
    </div>
    <nav>
        <ul>
            <li><a href="@Url.Action("Index", "Home")">Главная</a></li>
            <li><a href="@Url.Action("Index", "Courses")">Библиотека курсов</a></li>

            @* 1. Активные курсы: доступны любому авторизованному пользователю (и ученику, и учителю) *@
            @if (!string.IsNullOrEmpty(login))
            {
                <li>
                    <a asp-controller="ActiveCourses" asp-action="Index" class="sidebar-link">
                        <span>Активные курсы</span>
                    </a>
                </li>
            }

            <li>Форум</li>

            @* 2. Блок в зависимости от роли *@
            @if (role != "Teacher")
            {
                <li>
                    <a href="@Url.Action("Index", "BecomeTeacher")">Стать преподавателем</a>
                </li>
            }
            else
            {
                @* Раздел для тех, кто сам создает курсы *@
                <li>
                    <a href="@Url.Action("Index", "MyCourses")">Управление курсами</a>
                </li>
                <li>
                    <a href="@Url.Action("GetProfileInfo", "TeacherAccount")">Личный кабинет преподавателя</a>
                </li>
            }
        </ul>
    </nav>
</div>