@{
    var username = Context.Session.GetString("Username");
    var avatar = Context.Session.GetString("Avatar");
    var login = Context.Session.GetString("Login");
    var role = Context.Session.GetString("Role");
}

<div class="sidebar" id="sidebar">
    <div class="avatar">
        <img src="@(string.IsNullOrEmpty(avatar) ? Url.Content("~/images/default_avatar.jpg") : avatar)" alt="avatar" id="sidebarAvatar">
        <span>@(string.IsNullOrEmpty(username) ? "Гость" : username) </span>
    </div>
    <nav>
        <ul>
            <li><a href="@Url.Action("Index", "Home")">Главная</a></li>
            <li><a href="@Url.Action("Index", "Courses")">Библиотека курсов</a></li>
            <li>Тесты</li>
            <li>Задания</li>
            <li>Форум</li>
            @if (role != "Teacher")
            {
                <li><a href="@Url.Action("Index", "BecomeTeacher")
                    ">Стать преподавателем</a></li>
            }
            else
            {
                <li>
                    <a href="@Url.Action("GetProfileInfo", "TeacherAccount")">Личный кабинет преподавателя</a>
                </li>
            }
        </ul>
    </nav>
</div>
